body {
	text-align:center;
	background-image:url(1.jpg);
	background-size: cover;
	}
h1 {
	color: white;
	text-align:center;
	font-family: 'Gotu', sans-serif;
    font-size:60px;
	}
img {
	border: 5px solid #9E0000;
	line-height:10px;
	transition:1s; 
	}
img:hover{
	transform: scale(1.1); 
	}
ul {
	list-style-position:inside;
	line-height:30px;
	font-style:italic;
	font-weight:bold;
	color:white;
	border: 5px solid #9E0000; 
	}
footer {
	color:white;
        display:block;
	position:fixed;
        height:30px;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
       }
